*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#232323;
    color: #fff;
}

.parallax-image {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://cdn-images-1.medium.com/max/1000/1*2PCmLZyzQaF2pyKYkSTFpA.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.parallax-image .parallax-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.parallax-image .parallax-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    color: #fff;
}
.parallax-image .parallax-overlay p {
    margin-top: -15px;
    font-size: 30px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    color: #fff;
}
.parallax-image .parallax-overlay a {
    position: relative;
    top: 30px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px 30px;
    border: 2px solid #fff; /* remplacer la variable $text-color */
    color: #fff; /* remplacer la variable $text-color */
    transition: 0.3s;
}
.parallax-image .parallax-overlay a:hover {
    border: 2px solid rgb(44, 177, 11); /* remplacer la variable $first-color */
    background-color: rgba(41, 40, 40, 0.719);
    color: #fff; /* remplacer la variable $background-color */
}

.intro-story {
    height: 100vh;
    background-color: rgb(133, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-story h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-story ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.intro-story li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.intro-story p {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.intro-story blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 2px solid #fff;
}

.intro-story blockquote p {
    font-style: italic;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.intro-story blockquote cite {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
}


.conclusion{
    color: #fff;
    height: 100vh;
}